<div id="header">
  <div class="logo">
    <%= link_to "C0d3r Girl", root_path %>
  </div>
  <div class="social">
    <ul>
      <li><%= link_to image_tag('facebook-icon.png', :class => 'hover-swap', :height => '35px'), "http://www.facebook.com/tessataylor", 'target' => '_blank' %></li>
      <li><%= link_to image_tag('twitter-icon.png', :class => 'hover-swap', :height => '35px'), "http://www.twitter.com/c0d3rgirl", 'target' => '_blank' %></li>
      <li><%= link_to image_tag('linkedin-icon.png', :class => 'hover-swap', :height => '35px'), "http://www.linkedin.com/profile/view?id=22720852", 'target' => '_blank' %></li>
      <li><%= link_to image_tag('github-icon-small.png', :class => 'hover-swap', :height => '35px'), "https://github.com/tessat", 'target' => '_blank' %></li>
      <li><%= link_to image_tag('blog-icon.png', :class => 'hover-swap', :height => '35px'), "http://blog.c0d3r-girl.com", 'target' => '_blank' %></li>
    </ul>
  </div>
</div>