<div class="pages index">

  <p>Hello, World</p>

  <section>
    <h2>I'm Working On</h2>
    
    <ul>
      <li>
        <%= link_to content_tag('h3', 'Co'), "http://coapp.co", :target => '_blank' %>
        <ul class="social small">
          <li>
						<%= link_to "http://facebook.com/gocoapp", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('facebook-icon.png') %>
							<%= image_tag('facebook-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
					<li>
						<%= link_to "https://twitter.com/GoCoApp", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('twitter-icon.png') %>
							<%= image_tag('twitter-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
					<li>
						<%= link_to "http://blog.coapp.co", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('blog-icon.png') %>
							<%= image_tag('blog-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
        </ul>
        <div class="tagline">Where Your Worlds Converge</div>
      </li>
      <li>
        <%= link_to content_tag('h3', '&fail'), "http://andfail.com", :target => '_blank' %>
        <ul class="social small">
					<li>
						<%= link_to "https://twitter.com/_andfail", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('twitter-icon.png') %>
							<%= image_tag('twitter-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
					<li>
						<%= link_to "http://andfail.com", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('blog-icon.png') %>
							<%= image_tag('blog-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
        </ul>
        <div class="tagline">Your Stories of Failure (and Success)</div>
      </li>
    </ul>

    <h2>Past Projects</h2>
    
    <ul>
      <li>
        <%= link_to content_tag('h3', 'Beer2Buds'), "http://fresh.beer2buds.com", :target => '_blank' %>
        <ul class="social small">
          <li>
						<%= link_to "http://www.facebook.com/beer2buds", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('facebook-icon.png') %>
							<%= image_tag('facebook-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
					<li>
						<%= link_to "http://www.twitter.com/beer2buds", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('twitter-icon.png') %>
							<%= image_tag('twitter-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
					<li>
						<%= link_to "http://blog.beer2buds.com", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('blog-icon.png') %>
							<%= image_tag('blog-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
        </ul>
        <div class="tagline">Send Beer Online</div>
      </li>
      <li>
        <%= link_to content_tag('h3', 'PromoBomb'), "http://promobomb.com", :target => '_blank' %>
        <ul class="social small">
          <li>
						<%= link_to "http://www.facebook.com/promobomb", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('facebook-icon.png') %>
							<%= image_tag('facebook-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
					<li>
						<%= link_to "http://www.twitter.com/promobomb", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('twitter-icon.png') %>
							<%= image_tag('twitter-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
					<li>
						<%= link_to "http://blog.promobomb.com", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('blog-icon.png') %>
							<%= image_tag('blog-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
        </ul>
        <div class="tagline">Explode Your Business</div>
      </li>
    </ul>
    
  </section>
  
  <section>
    <h2>I'm Playing With</h2>
    
    <ul>
			<li>
        <%= link_to content_tag('h3', 'iOS7: Unapologetically CSS'), "http://beautifully.unapologeticallycss.com/", :target => '_blank' %>
        <div class="tagline">iOS7 built using only CSS</div>
      </li>
			<li>
        <%= link_to content_tag('h3', 'Tessa Ann Taylor'), "http://www.tessaanntaylor.com", :target => '_blank' %>
        <div class="tagline">Styles and Codes</div>
      </li>
			<li>
        <%= link_to content_tag('h3', 'Startup Headline Generator'), "http://www.startupheadlinegenerator.com", :target => '_blank' %>
        <ul class="social small">
					<li>
						<%= link_to "https://twitter.com/startupheadline", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('twitter-icon.png') %>
							<%= image_tag('twitter-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
        </ul>
        <div class="tagline">Breaking News</div>
      </li>
      <li>
        <%= link_to content_tag('h3', 'Ripple Effect'), "http://rippl-fx.com", :target => '_blank' %>
        <ul class="social small">
					<li>
						<%= link_to "http://www.twitter.com/rippl_fx", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('twitter-icon.png') %>
							<%= image_tag('twitter-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
        </ul>
        <div class="tagline">What's Your Effect?</div>
      </li>
      <li>
        <%= link_to content_tag('h3', 'KraftPop'), "http://kraftpop.com", :target => '_blank' %>
        <ul class="social small">
					<li>
						<%= link_to "http://www.twitter.com/kraftpop", 'target' => '_blank', :class => "has-hover" do %>
							<%= image_tag('twitter-icon.png') %>
							<%= image_tag('twitter-icon-selected.png', :class => 'hover') %>
						<% end %>
					</li>
        </ul>
        <div class="tagline"></div>
      </li>
    </ul>
    
  </section>
  
  <p class="bottom">
    -CG
  </p>
</div>
